/* ========= TEAM ========== */

.team {
    background: var(--color-bg1);
    padding: 5rem;
    /* box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5); */
}

section.team {
    /* padding: 3rem; */
    background-color: var(--color-bg1);
    padding-top: 7rem;
    padding-bottom: 1rem;
}

.team__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
}

.team__member {
    background: var(--color-bg1);
    padding: 1rem;
    padding-bottom: 2rem;
    /* border: 1px solid transparent; */
    transition: var(--transition);
    position: relative;
    overflow: hidden;
}

.team__member img {
    height: 400px;
    width: 720px;
    /* margin-left: 15%; */
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.team__member-info * {
    text-align: left;
    margin-top: 1.4rem;
}

.team__member-info p {
    color: var(--color-light);
    padding-top: 1.5rem;
}

.team__member:hover .team__member-socials {
    right: 0;
}

.team__member-socials a {
    padding: 1rem;
}

.footer {
    border-top: 1px solid var(--color-bg2);
}

.video {
    margin-top: 5rem;
}

.container_video {
    text-align: center;
}

img.img_productoscomer {
    height: 303px;
    width: 407px;
}

/* =========== MEDIA QUERIES (TABLETS) =========== */

@media screen and (max-width: 1024px){
    .about__achievements {
        margin-top: 2rem;
    }

    .about__achievements-container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .about__achievements-left {
        width: 80%;
        margin: 0 auto;
    }

    .team__container {
        grid-template-columns: 1, 1fr;
        gap: 1.5rem;
    }

    .team__member {
        padding: 1rem;
    }

    /* .team__member-info {
        margin-right: 1rem;
        margin-left: 1rem;
    } */
    
    .team__member-info p{
        margin-top: 1.5rem;
    }

    .team__member img {
        height: 370px;
        width: 550px;
        margin-top: 2rem;
        margin-bottom: 2rem;
        /* margin-left: 1rem; */
    }
    
    section.team {
        padding-bottom: 3rem;
    }

    .footer {
        padding-top: 4rem;
    }
}

/* =========== MEDIA QUERIES (PHONE) =========== */

@media screen and (max-width: 600px){
    
    h1 {
        font-size: 2rem;
    }
    
    .achievements__cards {
        grid-template-columns: 1fr;
        gap: 0.7;
    }

    .team__container {
        grid-template-columns: 1fr;
        gap: 0.7;
    }

    .team__member {
        padding: 0;
    }

    .team__member p {
        margin-bottom: 1.5rem;
    }

    .team__member-info {
        margin-right: 1rem;
        margin-left: 1rem;
    }

    .team__member-image {
        align-items: center;
    }

    .team__member img {
        height: 150px;
        width: 265px;
        margin-left: 1.2rem;
        margin-top: 2rem;
        /* position: relative; */
        align-items: center;
    }

    .team {
        background: var(--color-bg1);
        padding: 1.2rem;
    }

    img.img_productoscomer {
        margin-left: 0px;
    }
}